<ion-menu side="end" menuId="first" content-id="content" class="sidemenu">
    <ion-header>
      <ion-toolbar class="toolbar_sidemenu">
        <ion-title><img src="../../assets/img/profile.svg" alt="User Profile" width="100" /> </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let menu of MENU" routerLink={{menu.path}} routerDirection="root">
        <ion-item class="sidemenu_list"><span style=" color: #27ade3;"> <i class='fa fa-{{menu.icon}}'></i> </span> &nbsp; &nbsp; &nbsp; {{menu.title}}</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-router-outlet main></ion-router-outlet>


<ion-content id="content">
  <div class="main_home_parent">
    <div class="main_home_first">
      <div class="">
        <div class="user_nav_top">
          <div class="profile_name">
            Emmanuel Umeh
            <p> <span style="font-size: .8em; font-weight: bold;"> &#8358;20,000 </span> </p>
          </div>
          <div class="tab_bar" (click)="openSideMenu()"> <img src="../../assets/img/bars.svg" width="50" alt="Bars" /> </div>
        </div>
      </div>
    </div>
    <div class="main_home_second">
      <div class="home_menu_btn" routerLink="../payment" routerDirection="root">
        <div class="home_menu_btn_icon"> <img src="../../assets/img/currency.svg" width="50" alt="Currency" /> </div>
        <div class="home_menu_btn_text">
          <div>Make Payment </div>
          <div style="font-size: .5em;">Make Payments for your Registered Plan</div>
        </div>
        <div class="home_menu_btn_chevron"> <i class="fa fa-chevron-right"></i> </div>
      </div>
      <div class="home_menu_btn" routerLink="../loan" routerDirection="root">
        <div class="home_menu_btn_icon"> <img src="../../assets/img/loan.svg" width="50" alt="Currency" /> </div>
        <div class="home_menu_btn_text">
          <div> Apply for Loan </div>
          <div style="font-size: .5em;">Request for a Loan for your business</div>
        </div>
        <div class="home_menu_btn_chevron"> <i class="fa fa-chevron-right"></i> </div>
      </div>
      <div class="home_menu_btn" routerLink="../business-boost" routerDirection="root">
        <div class="home_menu_btn_icon"> <img src="../../assets/img/business_boost.svg" width="40" alt="Currency" /> </div>
        <div class="home_menu_btn_text">
          <div> Business Boost </div>
          <div style="font-size: .5em;">Boost your Business with a request for Appliances</div>
        </div>
        <div class="home_menu_btn_chevron"> <i class="fa fa-chevron-right"></i> </div>
      </div>
    </div>
    <div class="main_home_third">
      <img src="../../assets/img/logo.svg" width="60" alt="Logo" />
    </div>
  </div>
</ion-content>
