<ion-content>
  <div class="ion-padding home_main">
    <div class="home_logo">
      <img src="../../assets/img/logo.svg" alt="Logo" />
    </div>
    <div class="home_form">
      <form>
        <input onKeyPress="if(this.value.length==11) return false;"
               name="password" [(ngModel)]="password" class="form-control form-control-md input_style" type="number" max="4" placeholder="Enter PIN">
        <div class="btn_dark_blue" (click) = "loginUser()"> Login </div>
      </form>
    </div>
    <div class="home_footer">
      <div class="btn_trans" routerLink="../main-home" routerDirection="root"> Continue &nbsp; <i class="fa fa-arrow-right"></i></div>
    </div>
  </div>
</ion-content>
